.headerwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.contact {
  flex: 0 0 70%;
}
.contact h3 {
  font-size: 14px;
}
.social {
  flex: 0 0 30%;
}
/* .social .social_content{
    height: 35px;
    width: 35px;
} */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .headerwrapper {
    display: none;
  }
  .headerwrapper1 {
    display: none;
  }
  .contact {
    flex: 0 0 100%;
  }
  .social {
    flex: 0 0 100%;
  }
}
