.headTitle {
  background: linear-gradient(to right, #e56d09, #d63715);
  -webkit-background-clip: text; /* For Safari/Chrome/iOS */
  font-size: 2rem;
  font-weight:900;
  font-family: "Zona";
  background-clip: text;
  color: transparent;
}
